@charset "UTF-8";
/* A Modern CSS Reset */
* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  border-style: solid;
  box-sizing: border-box;
  border-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  width: 100%;
  display: block;
}

input,
button,
select,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
  background: transparent;
  font: inherit;
  outline: none;
}

textarea {
  resize: none;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

body {
  color: #000000;
}

@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media (max-width: 787px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3194444444vw;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  a {
    transition: 0.2s ease-in-out;
  }
}

main {
  overflow: hidden;
}

/* ヘッダー */
.header {
  display: flex;
  position: fixed;
  background-color: #fff;
  justify-content: space-between;
  z-index: 99;
  width: 100%;
  height: 70px;
  padding: 20px 40px;
}

.header h1 {
  margin: 0;
  display: flex;
  align-items: center;
}

.header h1 a {
  display: flex;
  align-items: center;
}

.header__logo img {
  font-family: "Hiragino Kaku Gothic ProN";
  color: #000;
}

/* ナビゲーション */
.header__nav {
  position: fixed;
  top: 0;
  left: -120%;
  width: 300px;
  height: 100vh;
  padding: 60px 25px;
  background: #121212;
  transition: all 0.6s;
  z-index: 999;
}

.header__nav.is-active {
  left: 0;
  opacity: 1;
}

.header__nav--item a {
  color: #fff;
}

.header__nav--list {
  margin-bottom: 60px;
  border-top: 1px solid #fff;
}

.header__nav--item {
  position: relative;
  margin: 0;
  padding: 20px 0;
  border-bottom: solid 1px #fff;
}

.header__sns--item {
  padding: 5px 0;
  color: #FFF;
}

#mask {
  display: none;
  transition: all 0.5s;
}

#mask.open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
}

/* バーガーメニュー */
.header__burger {
  display: block;
  position: fixed;
  top: 25px;
  right: 45px;
  width: 30px;
  height: 30px;
  transition: all 0.5s;
  z-index: 999;
  cursor: pointer;
}

.header__burger span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 5px;
  transition: all 0.5s;
}

.header__burger span:nth-child(1) {
  top: 4px;
}

.header__burger span:nth-child(2) {
  top: 14px;
}

.header__burger span:nth-child(3) {
  top: 24px;
}

.header__burger.active span:nth-child(1) {
  transform: translateY(6px) rotate(-45deg);
  top: 8px;
}

.header__burger.active span:nth-child(2) {
  opacity: 0;
}

.header__burger.active span:nth-child(3) {
  transform: translateY(-6px) rotate(45deg);
  top: 20px;
}

.header__burger.active span {
  background-color: #fff;
  z-index: 999;
}

.main-video video {
  width: 100%;
  max-height: 960px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .main-video video {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/* フッター */
.footer {
  background-color: #121212;
  text-align: center;
  padding: 10px;
  font-size: 0.75rem;
}

.footer > p {
  color: #fff;
}

.inner {
  width: 100%;
  padding-right: 1.4375rem;
  padding-left: 1.4375rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: initial;
    padding-right: initial;
    padding-left: initial;
  }
}

.section--title {
  color: #121212;
  font-size: 2.25rem;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
}

@media (max-width: 1023px) {
  .section--title {
    margin-bottom: 60px;
  }
}
/* ピックアップセクション */
.section__pickup {
  width: 100%;
  padding: 100px 0 110px 0;
}

@media screen and (max-width: 768px) {
  .section__pickup {
    padding: 50px 0;
  }
}
.section__title {
  font-size: 2.25rem;
  margin: 0 0 30px 0;
  text-align: center;
}

.slick__slider--item {
  list-style: none;
  width: 100%;
  display: inline-block;
}

.slick__slider--img {
  display: block;
  padding: 0 30px;
  max-width: 100%;
}

.slick__slider.slick-initialized {
  visibility: visible;
}

/* feature section */
.section__feature {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto 60px;
}

.section__feature--cards {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  margin: 0 20px;
}

.feature__cards--image {
  width: 100%;
  max-width: 100%;
}

.feature__cards--item {
  list-style: none;
  display: grid;
  grid-row: span 3;
  box-shadow: 0 0 8px 4px #ccc;
}

.cards__item--wrapper {
  padding: 30px;
}

.cards__item--headline {
  font-size: 0.75rem;
  margin-bottom: 20px;
}

.cards__item--description {
  font-weight: bold;
  margin-bottom: 20px;
}

.card__item--time {
  font-size: 0.75rem;
  display: block;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .section__feature--cards {
    margin: 0;
  }
}
/* section contact */
.section__contact {
  background-color: #121212;
  color: #fff;
  padding: 50px 0;
}

.section__contact > .section__title {
  color: #fff;
}

.contact__info, .contact--form {
  width: 45%;
}

.contact__info--text {
  color: #fff;
  margin: 0 0 30px 0;
}

.section__contact--contents {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.contact__form {
  width: 45%;
}

.contact__form input,
.contact__form textarea {
  width: 100%;
  margin: 0;
  padding: 10px;
}

.contact__form dt > label {
  color: #fff;
}

.contact__form dd {
  margin: 0 0 20px 0;
}

.contact__form dd > input,
.contact__form dd > textarea {
  background-color: #fff;
}

.button {
  width: 200px;
}

.button > input {
  background-color: #121212;
  color: #fff;
  border: solid 1px #fff;
  padding: 12px 0;
  transition: all 0.3s ease-in-out;
}

.button input:hover {
  width: 200px;
  background-color: #fff;
  color: #121212;
}

@media screen and (max-width: 768px) {
  .section__contact--contents {
    flex-direction: column;
  }
  .contact__info,
  .contact__form,
  .contact__form .button input {
    width: 100%;
  }
  .button {
    width: 100%;
    margin: 0 auto;
  }
}
.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

* {
  color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html {
  font-size: 16px;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

a {
  cursor: pointer;
}

@media (max-width: 992px) {
  html {
    font-size: 16px;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }
}/*# sourceMappingURL=style.css.map */