@use "../global" as *;
.test {
  margin-top:rem(100);
  background-color: rgb(19, 13, 19);
  font-size: rem(20);
  color: red;
  @include mq(md) {
    font-size: rem(50);
    color: green;
  }
}
.comment {
  margin-top:rem(100);
  background-color:black;
  font-size: rem(16);
  color: red;
  @include mq(md) {
    font-size: rem(50);
    color: green;
  }
}