@use "../global" as *;

/* ピックアップセクション */
.section__pickup {
    width: 100%;
    padding: 100px 0 110px 0;
}
@media screen and (max-width: 768px) {
    .section__pickup {
        padding: 50px 0;
    }
}
.section__title {
    font-size: 2.25rem;
    margin: 0 0 30px 0;
    text-align: center;
}
.slick__slider--item {
    list-style: none;
    width: 100%;
    display: inline-block;
}
.slick__slider--img {
    display: block;
    padding: 0 30px;
    max-width: 100%;
}
// .slick__slider {
//     visibility: hidden;
// }
.slick__slider.slick-initialized {
    visibility: visible;
}

/* feature section */
.section__feature {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto 60px;
}
.section__feature--cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    margin: 0 20px;
}

.feature__cards--image {
    width: 100%;
    max-width: 100%;
}
.feature__cards--item {
    list-style: none;
    display: grid;
    grid-row: span 3;
    box-shadow: 0 0 8px 4px #ccc;
}
.cards__item--wrapper {
    padding: 30px;
}
.cards__item--headline {
    font-size: 0.75rem;
    margin-bottom: 20px;
}
.cards__item--description {
    font-weight: bold;
    margin-bottom: 20px;
}
.card__item--time {
    font-size: 0.75rem;
    display: block;
    text-align: right;
}

@media screen and (max-width: 768px){
    .section__feature--cards {
        margin: 0;
    }
}


